{% extends "base.html" %}
{% block title %}Edit node{% endblock %}

{%- block content %}
<div id="node-edit">
    {% if errors %}
    <ul class="errors">
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="post" action="">
        <div>
            <input name="parent" id="f_parent" value="{{ node.parent or ''}}" />
            <label for="f_parent">Родитель</label>
        </div>
        <div>
            <input name="title" id="f_title" value="{{ node.title or ''}}" />
            <label for="f_title">Название</label>
        </div>
        <div>
            <input name="slug" id="f_slug" value="{{ node.slug or ''}}" />
            <label for="f_slug">Метка</label>
        </div>
        <div>
            <input name="content" id="f_content" value="{{ node.content or ''}}" />
            <label for="f_content">ID контетнта</label>
        </div>
        <div>
            <input type="checkbox" name="published" id="f_published"{% if node.published %} checked="checked"{% endif %} />
            <label for="f_published">Опубликовать</label>
        </div>
        <div>
            <button type="submit" name="save" value="save">Готово</button>
        </div>
    </form>
</div>
{% endblock %}
