{% extends "layout.html" %}
{% block title %}Edit Node{% endblock %}
{% block content %}{% block partial %}
<div id="node-edit">
    {% if errors %}
    <ul class="errors">
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="post" action="{{ app.url_for(':node.edit', id=node._id or None) }}">
        <input type="hidden" name="content" id="f_content" value="{{ content._id or ''}}" />
        <div>
            <label for="f_title">Название</label>
            <input name="title" id="f_title" size="40" value="{{ node.title or ''}}" />

            <label for="f_slug">Слуг</label>
            <input name="slug" id="f_slug" size="40" value="{{ node.parent and node.full_slug or node.slug or ''}}" />
        </div>
        <div>
            <input type="checkbox" name="published" id="f_published"{% if node.published %} checked="checked"{% endif %} />
            <label for="f_published">Опубликовать</label>
            <button type="submit" name="save" value="save">Готово</button>
        </div>
    </form>
</div>
{% endblock %}{% endblock %}
