{% extends "base.html" %}
{% block title %}{{ node.title }}{% endblock %}

{%- block content %}
<div id="node-show">
    {% with content_id = node.content and node.content._id or 'new' %}
    <h1>{{ node.title }} <a href="{{ app.url_for(':text.edit', id=content_id) }}?node={{ node._id }}">изменить</a></h1>
    {% endwith %}

    {% if node.content -%}
        {{ app.part_template('text/show.html', '#text-show .document', text=node.content, node=node) }}
    {% endif %}

    {% for child in children -%}
        <a href="{{ app.url_for(':node.show', slug=child.full_slug()) }}">{{ child.title }}</a>
    {% endfor %}
</div>
{% endblock %}
