{% extends "layout.html" %}
{% block title %}{{ node.title }}{% endblock %}

{% block extrahead %}
{{ h.css('node/show.less', less=True) }}
{% endblock %}

{%- block content %}
<div id="node-show">
    <h1 class="node-title">
        {% if node.parent %}<a href="{{ node.parent.url_show }}">{{ node.parent.title }}</a> :: {% endif %}
        {{ node.title }}{% if app.is_admin() %} <a href="{{ node.url_edit }}">[изменить]</a>{% endif %}
    </h1>

    {% if node.content -%}
        {% with partial=True, text=node.content, node=node %}
            {% include 'text/show.html' %}
        {% endwith %}
    {% endif %}

    {% set children = node.children and node.children or node.parent_children %}
    {% if children %}

    <div class="relations">
        <h2>Другие публикации</h2>
        <ul>
        {% for child in children -%}
            <li><a href="{{ child.url_show }}">{{ child.title }}</a></li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}
