{% include '_styles/common.less' %}

#node-show {
    h1.node-title {
        font-size: 1.4em;
        margin-bottom: 0.75em;
        border-bottom: 2px solid @color-flat;
    }

    ul.relations {
        margin-top: 1em;
        background: @color-flat + #222;
        border-top: 2px solid @color-flat;
        padding: 10px 10px 10px 20px;
        list-style: disc;
    }
}
