{% macro css(path, include=False) %}
{% if not app.testing and include -%}
    <style type="text/css">{% include path %}</style>
{%- else -%}
    <link rel="stylesheet" href="{{ app.url_for(':theme', path=path) }}" type="text/css" />
{%- endif %}
{% endmacro %}

{% macro js(path, include=False) %}
{% if not app.testing and include -%}
    <script type="text/javascript">{% include path %}</script>
{%- else -%}
    <script src="{{ app.url_for(':theme', path=path) }}" type="text/javascript"></script>
{%- endif %}
{% endmacro %}
