{% macro css(path, include=False, less=False) %}
{% if include and not app.testing and not app.debug and not less -%}
    <style type="text/css">{% include path %}</style>
{%- else -%}
    <link rel="stylesheet{{ less and '/less' or '' }}" href="{{ app.url_for(':theme', path=path) }}" type="text/css" />
{%- endif %}
{% endmacro %}

{% macro js(path, include=False) %}
{%- if include and not app.testing and not app.debug -%}
    <script type="text/javascript">{% include path %}</script>
{%- else -%}
    <script src="{{ app.url_for(':theme', path=path) }}" type="text/javascript"></script>
{%- endif %}
{% endmacro %}


{# Libs #}
{% macro jquery() %}
{{ js('_scripts/jquery.%s' % (app.debug and 'js' or 'min.js')) }}
{% endmacro %}

{% macro jquery_form() %}
{{ js('_scripts/jquery.form.js') }}
{% endmacro %}

{% macro jquery_textarea(tab=False, autogrow=False) %}
{% if tab %}{{ js('_scripts/jquery.taboverride.js') }}{% endif %}
{% if autogrow %}{{ js('_scripts/jquery.simpleautogrow.js') }}{% endif %}
{% endmacro %}

{% macro jquery_hotkeys() %}
{{ js('_scripts/jquery.shortcuts.%s' % (app.debug and 'js' or 'min.js')) }}
{% endmacro %}

{% macro less_js() %}
{{ js('_scripts/less.%s' % (app.debug and 'js' or 'min.js')) }}
{% endmacro %}
