{% import 'helpers.html' as h with context %}
{% import 'common.html' as c with context %}
<!DOCTYPE HTML>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>pusto.org: {% block title %}Гриша aka naspeh{% endblock %}</title>

    <link rel="icon" href="{{ app.url_for(':theme', path='_images/favicon.png') }}" type="image/png" />
    {{ h.css('layout.less', less=True) }}

    {% block extrahead %}{% endblock %}

    {{ h.less_js() }}
</head>
<body>
    <div id="header">
        <div class="logo-wrap"><a href="/" class="logo"></a></div>
        <div class="header-adds">
        {% if app.user %}
            <div class="info auth">Привет, <b>{{ app.user.name }}</b> <a href="{{ app.url_for(':auth.logout') }}">Выход</a></div>
        {% else %}
            <a class="login" href="{{ app.url_for(':auth.login') }}">Вход</a>
            <div class="info powered-by">powered by <a href="http://github.com/naspeh/naya">naya</a></div>
        {% endif %}
        </div>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try{
    var pageTracker = _gat._getTracker("UA-6254112-1");
    pageTracker._trackPageview();
    } catch(err) {}
    </script>
</body>
</html>
