{% import '_styles/helpers.css' as h  %}

{{ h.include('_styles/common.less') }}
{{ h.include('_styles/reset.css') }}

/* Base styles */
html {
    height: 100%;
}
body {
    font: 14px/1.4 @font-main;
    position: relative;
    width: 900px;
    height: 100%;
    margin: 0 auto;
}
a {
    color: @color-alfa;
    text-decoration: none;
}
a:hover, a:focus, a:active {
    color: @color-beta;
}

/* Header */
#header {
    background: @color-beta;
    height: 40px;
    position: relative;
    .border_radius(0 0 15px 15px);

    h1 {
        position: absolute;
        left: 220px;
        top: 20px;
        font-size: 1.5em;
        color: #eff;
    }
    .logo-wrap {
        background-color: @color-alfa;
        padding-left: 20px;
        height: 40px;
        .inline_block;
        .border_radius(0 0 0 15px);
    }
    .logo {
        height: 46px;
        width: 198px;
        background: #fff url("../_images/logo-hands.png") no-repeat right center;
        .inline_block;
    }
    .header-adds {
        position: relative;
        float: right;
        white-space: nowrap;
        margin: -4px 5px 0 0;
        line-height: 1.2em;

        .info {
            background-color: @color-alfa;
            font-size: small;
            color: #fff;
            padding: 2px 0 0 10px;
            .border_radius(0 0 10px 10px);
            .inline_block;

            a {
                font-weight: bold;
                background: #fff;
                padding: 0 10px;
                .border_radius(0 0 10px 10px);
                .inline_block;
            }
        }
        .source {
            background-color: #fff;
            font-weight: bold;
            font-size: small;
            color: #fff;
            padding: 0 10px;
            margin-right: 5px;
            .border_radius(0 0 10px 10px);
            .inline_block;
        }
        a.login {
            color: @color-beta;
        }
    }
    ul.menu {
        position: absolute;
        bottom: 2px;
        right: 5px;
        font-size: small;

        li {
            background: #fff;
            padding: 0 10px;
            font-weight: bold;
            text-transform: lowercase;
            .inline_block;

        }
        > :first-child {
            .border_radius(10px 0 0 10px);
        }
        > :last-child {
            .border_radius(0 10px 10px 0);
        }
    }
}
/* Content */
#content {
    padding: 0 10px;
    margin-top: 10px;
}
.document {
    margin-bottom: 20px;

    .typography;
}

/* Misc */
.loading {
    display: none;
    position: absolute;
    z-index: 999;
    opacity: 0.7;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #fefefe url(../_images/loading.gif) no-repeat center;
}
