{% import 'helpers.html' as h with context %}
{% import 'common.html' as c with context %}

{% if partial or app.request.is_xhr %}{% block partial %}{% endblock %}{% else %}
<!DOCTYPE HTML>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>pusto.org: {% block title %}Гриша aka naspeh{% endblock %}</title>

    <link rel="icon" href="{{ app.url_for(':theme', path='_images/favicon.png') }}" type="image/png" />
    {{ h.css('layout.less', less=True) }}

    {% block extrahead %}{% endblock %}

    {{ h.less_js() }}
</head>
<body>
    <div id="header">
        <div class="logo-wrap"><a href="{{ app.url_for(':home') }}" class="logo"></a></div>
        <ul class="menu">
        {% if app.user %}
            <li class="auth">Привет, <strong>{{ app.user.name }}</strong></li>
            <li><a href="{{ app.url_for(':text.roll', all=False) }}">Тексты</a></li>
            {% if app.is_admin() %}<li><a href="{{ app.url_for(':node.roll') }}">Узлы</a></li>{% endif %}
            <li><a href="{{ app.url_for(':auth.logout') }}">Выход</a></li>
        {% else %}
            <li class="powered-by"><a href="http://github.com/naspeh/naya">powered by naya</a></li>
            <li class="login"><a href="{{ app.url_for(':auth.login') }}" title="Вход через Google">Вход</a></li>
        {% endif %}
        </ul>
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try{
    var pageTracker = _gat._getTracker("{{ app. google_analytics }}");
    pageTracker._trackPageview();
    } catch(err) {}
    </script>
</body>
</html>
{% endif %}
