{% extends "base.html" %}
{% block title %}Гриша aka naspeh{% endblock %}

{% macro profile() %}{% filter markdown %}
<img src="{{ app.url_for(':theme', path='static/img/ava200.jpg') }}" style="float: right" />

##Гриша aka [naspeh](/post/unikalniy-nick/)
email и jabber: **naspeh(at)gmail.com**

**[horosh.org][horosh]** - личный проект для публикации отчетов о путешествиях, стартовал 25.11.2009, код доступен на [bitbucket](http://bitbucket.org/naspeh/horosh/src).

С декабря 2009 веб-разработчик на python в [42 Coffee Cups](http://42coffeecups.com).

###Активно использую
   * [python][python] с августа 2009; работал с [Django](http://www.djangoproject.com/), [Pylons][pylons]; интересуюсь [Werkzeug](http://werkzeug.pocoo.org), [Flask](http://flask.pocoo.org);
   * [jQuery][jquery] для AJAX/JavaScript;
   * (X)HTML/CSS; интересуюсь [семантической версткой](http://pepelsbey.net/2008/04/semantic-coding-1/);
   * SQL (MySQL, SQLite), интересуюсь [MongoDB](http://www.mongodb.org/);
   * [распределённые системы контроля версий (DVCS)](http://habrahabr.ru/blogs/development_tools/71115/): [mercurial](http://mercurial.selenic.com/), [git](http://git-scm.com/);
   * пользователь GNU/Linux с июля 2008; [Debian GNU/Linux](http://www.debian.org/) и [Vim](http://www.vim.org/) с августа 2010.

Интересуюсь архитектурой приложений, [паттернами проектирования](http://ru.wikipedia.org/wiki/Шаблон_проектирования), [гибкими методиками разработки](http://ru.wikipedia.org/wiki/Гибкая_методология_разработки), [рефакторингом](http://ru.wikipedia.org/wiki/Рефакторинг), [TDD](http://ru.wikipedia.org/wiki/Разработка_через_тестирование), [свободным ПО](http://ru.wikipedia.org/wiki/Свободное_программное_обеспечение), пользовательскими интерфейсами, [юзабилити](http://ru.wikipedia.org/wiki/Юзабилити). Слежу за новшествами в сфере веб-разработки.

###Другие интересы и увлечения
Созидание, развитие. Семья. Путешествия, велосипед. Играю на бильярде, в футбол, в настольный теннис.

Не курю, не пью, [женат](http://horosh.org/event-63-karpatyi-chernogorskij-hrebet).

[pylons]: http://pylonshq.com/
[python]: http://python.org/
[horosh]: http://horosh.org/
[jquery]: http://jquery.com/

{% endfilter %}{% endmacro %}

{% block content %}{{ profile() }}{% endblock %}
