@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Cousine:400,700,400italic,700italic&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Philosopher:700&subset=latin,cyrillic);

body {
    font: 1em/1.4 "PT Sans", sans-serif;
    font-weight: 400;
    margin: 0 auto;
    padding: 0 10px;
    max-width: 880px;
    min-width: 780px;
}
a {
    color: #008000;
    text-decoration: none;
}
a:hover, a:focus, a:active {
    color: #f63;
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    font: 1.1em "Philosopher", sans-serif;
    font-weight: 700;
    margin-bottom: 0.3em;
}
h1 {
    font-size: 1.3em;
}
h2 {
    font-size: 1.2em;
}
p, dl, dd, hr, ol, ul, pre, blockquote,
table, address, fieldset,
.line-block {
    margin-bottom: 1em;
}
.last {
    margin-bottom: 0;
}
ol {
    list-style: decimal;
}
ul {
    list-style: disc;
}
li, dd {
    margin-left: 1em;
}
dt {
    font-weight: bold;
}
pre {
    overflow: auto;
    padding: 5px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #f9f9f9;
    font-family: "Cousine", monospace;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25em;
    white-space: pre;
}
blockquote {
    margin-left: 20px;
    padding: 10px;
    border-left: 3px solid #f63;
    background: #f9f9f9;
    font-style: italic;
}

/* Blocks */
.header {
    position: relative;
    margin: 0 -10px;
    margin-bottom: 1em;
    font-weight: bold;
    border-top: 2px solid #008000;
}
.header a {
    margin-top: -2px;
    background: #008000;
    padding: 0 10px;
    color: #fff;
    border-radius: 0 0 10px 10px;
}
.header a:hover {
    background: #f63;
    color: #fff;
}
ul.nav {
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
}
ul.nav li {
    float: left;
    margin-left: 5px;
}
.title {
    margin-bottom: 1em;
}
.title h1 {
    font-size: 1.5em;
    margin-bottom: 0;
}
ul.meta {
    list-style: none;
    font-size: 0.75em;
    color: #777;
    overflow: hidden;
}
ul.meta li {
    float: left;
    margin-left: -6px;
    padding: 0 5px;
    margin-right: 5px;
    border-left: 1px solid #ccc;
}
.document {
    text-align: justify;
}
.posts {
    list-style: none;
}
.posts li.post {
    margin: 0 -10px;
    margin-bottom: 1em;
    padding: 1em 10px 0 1em;
    border-top: 1px solid #ccc;
}
.posts li.post-first {
    border-top: none;
    padding-top: 0;
}
.system-message {
    color: red;
    border: 1px dotted red;
    background: #fff3f3;
    padding: 10px;
    margin-bottom: 1em;

}
.system-message .system-message-title {
    font-weight: bold;
}
.note {
    font-style: italic;
    background-color: #f9f9f9;
    margin-bottom: 1em;
}
.note .admonition-title {
    display: none;
}
.highlighttable {
    margin-bottom: 0;
}
.highlighttable .linenodiv pre {
    margin-right: -10px;
    border-right: 1px solid #ccc;
}
.highlighttable .code {
    width: 100%;
}

/* Custom classes */
img.align-right {
    float: right;
    margin: 0 0 20px 20px;
}
img.align-left {
    float: left;
    margin: 0 20px 20px 0;
}
