body {
    font: 1em/1.4 "PT Sans", sans-serif;
    font-weight: 400;
    margin: 0 auto;
    padding: 0 10px;
    max-width: 880px;
    min-width: 780px;
}
a {
    color: #008000;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
a:hover, a:focus, a:active {
    color: #f63;
    border-bottom-color: #f63;
}
h1, h2, h3, h4, h5, h6 {
    font: 1.1em "Philosopher", sans-serif;
    font-weight: 700;
    margin-bottom: 0.3em;
}
h1 {
    font-size: 1.3em;
}
h2 {
    font-size: 1.2em;
}
p, dl, hr, ol, ul, pre, blockquote,
table, address, fieldset,
.line-block {
    margin-bottom: 1em;
}
.last {
    margin-bottom: 0;
}
hr {
    border: none;
    border-top: 1px dotted #ccc;
}
ol {
    list-style: decimal;
}
ul {
    list-style: disc;
}
li, dd {
    margin-left: 1em;
}
dt {
    font-weight: bold;
}
strong, b {
    font-weight: bold;
}
sup {
    vertical-align: super;
}
sub {
    vertical-align: sub;
}
tt {
    font-family: "Anonymous Pro", monospace;
}
pre {
    overflow: auto;
    padding: 5px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #f9f9f9;
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.25em;
    white-space: pre;
}
.code .ln {
    margin-left: -5px;
    margin-right: 10px;
    border-right: 1px solid #ccc;
    color: #777;
}
blockquote {
    padding-left: 10px;
    border-left: 3px solid #ccc;
    color: #555;
}

/* Blocks */
.header {
    position: relative;
    margin: 0 -10px;
    margin-bottom: 1em;
    font-weight: bold;
    border-top: 2px solid #777;
    height: 1em;
}
.header a {
    background: #777;
    padding: 0 10px;
    color: #fff;
    border: none;
    border-radius: 0 0 10px 10px;
}
.header a:hover {
    background: #777;
    color: #eee;
    text-decoration: underline;
}
.header a.logo {
    position: absolute;
    top: -2px;
    margin-bottom: 1em;
}
.header ul.nav {
    position: absolute;
    top: -2px;
    right: 0;
    list-style: none;
}
.header ul.nav li {
    float: left;
    margin-left: 5px;
    text-transform: lowercase;
}
.title {
    margin-bottom: 0.5em;
}
.title h1 {
    font-size: 1.5em;
    margin-bottom: 0;
}
.title ul.meta {
    list-style: none;
    font-size: 0.75em;
    color: #777;
    overflow: hidden;
    text-transform: lowercase;
    margin-bottom: 0;
}
.title ul.meta li {
    float: left;
    margin-left: -6px;
    padding: 0 5px;
    margin-right: 5px;
    border-left: 1px solid #ccc;
}
.intro {
    margin: 0 -10px;
    margin-bottom: 1em;
    padding: 0 10px 0 10px;
    border-bottom: 1px solid #ccc;
}
.intro h1 {
    font-size: 1.5em;
    margin-bottom: 0.3em;
}
.intro :last-child {
    margin-bottom: 0.3em;
}
.posts {
    list-style: none;
}
.posts li.post {
    margin: 0 -10px;
    margin-bottom: 1em;
    padding: 1em 10px 0 1em;
    border-top: 1px solid #ccc;
}
.posts li.post-first {
    border-top: none;
    padding-top: 0;
}
.document {
    text-align: justify;
}
.system-message {
    color: red;
    border: 1px dotted red;
    background: #fff3f3;
    padding: 10px;
    margin-bottom: 1em;

}
.system-message .system-message-title {
    font-weight: bold;
}
.note {
    background-color: #f9f9f9;
    color: #555;
    padding-left: 20px;
    margin-bottom: 1em;
}
.note:before {
    float: left;
    margin-left: -20px;
    vertical-align: super;
    content: "NB";
    background-color: #555;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
}
.note .admonition-title {
    display: none;
}
.terms {
    font-size: 90%;
}
.terms > h3 {
    margin-bottom: 1em;
}
.terms-body {
    white-space: nowrap;
}
.terms-hide .terms-body {
    display: none;
}
.terms-body > * {
    float: left;
    padding: 0 7px;
    width: 48%;
    vertical-align: top;
}
.term-active {
    padding-left: 6px;
    border-left: 1px solid #f63;
    border-radius: 7px;
}
a.term, .terms h3 a {
    border-style: dashed;
    border-color: #008000;
}
a.term:hover, .terms h3 a:hover {
    border-color: #f63;
}
/* Custom classes */
img.align-right {
    float: right;
    margin: 0 0 20px 20px;
}
img.align-left {
    float: left;
    margin: 0 20px 20px 0;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
