{% from '_styles/macros.jinja' import border_radius %}

#text-edit {}
#toolbar {
    border-bottom: 2px solid #ccc;
    line-height: 1.1em;
    height: 1.1em;
}
#toolbar .actions {
    float: right;
}
#toolbar a {
    border: 1px solid #ccc;
    background: #eee;
    font-weight: bold;
    padding: 0 5px;
    {{ border_radius('10px 10px 0 0') }}
}
#toolbar a.active {
    background: #fcc;
}
#toolbar a.edit {
    display: none;
}
#options {
    display: none;
    padding: 10px;
    border-bottom: 2px solid #ccc;
    font-size: 0.7em;
}
#viewer {
    padding: 2px 0;
}
#viewer .wrap {
    height: 346px;
    overflow: auto;
}

#viewer .bit {
    border-top: 1px solid #cfc;
    background: #fff;
    min-height: 30px;
}
#viewer .bit .info {
    display: inline-block;
    float: right;
    background: #cfc;
    font-size: small;
    margin: 0 1px 5px 5px;
    padding: 0 2px 5px 5px;
    {{ border_radius('0 0 0 25px') }}
}
#viewer .bit.active {
    border-top: 1px solid #fcc;
    background: #fff;
}
#viewer .bit.active .info {
    background: #fcc;
}
#editor {
    height: 200px;
    background: #eee;
    position: relative;
}
#editor .toolbar {
    border-top: 2px solid #ccc;
    height: 30px;
    line-height: 1.8em;
}
#editor .toolbar.choicer {
    padding-left: 5px;
}
#editor .toolbar.actions {
    position: absolute;
    top: 0;
    right: 5px;
}
#editor #bit-parent {
    display: none;
}
#editor .textarea {
    height: 170px;
    text-align: center;
}
#editor textarea {
    height: 99.4%;
    width: 99.4%;
}
