{% extends "layout.html" %}
{% block title %}{{ node.title and 'Edit "%s"' % node.title or 'Edit for fun' }}{% endblock %}

{% block extrahead %}
{{ h.jquery() }}
{{ h.jquery_form() }}
{{ h.jquery_textarea(tab=True) }}
{{ h.jquery_hotkeys() }}

{{ h.js('text/edit.js', include=True) }}

{{ h.css('text/show.css', include=True) }}
{{ h.css('text/edit.css', include=True) }}
{% endblock %}


{%- block content %}
<div id="text-edit"><div class="wrap">
    <div class="loading"></div>

    <div id="toolbar">
        {% if node._id %}<b>{{ node.title }}</b> <small>({{ node.full_slug }})</small>{% endif %}
        <div class="actions">
        {% if text._id %}
            <a href="#" class="edit">изменить</a>
            <a href="#{{ app.url_for(':text.show', id=text._id) }}" class="preview">смотреть</a>
            <a href="#{{ app.url_for(':text.show', id=text._id, src='text') }}" class="src">текст</a>
            <a href="#{{ app.url_for(':text.show', id=text._id, src='html') }}" class="html">html</a>
            {% if app.is_admin() %}<a href="#" class="options">опции</a>{% endif %}
            <a href="#{{ app.url_for(':text.delete', id=text._id) }}" class="delete">удалить</a>
        {% endif %}
        </div>
    </div>

    {% if text._id and app.is_admin() %}
    <div id="options">
        {{ app.part_template('node/edit.html', '#node-edit', content=text, node=node) }}
    </div>
    {% endif %}

    <div id="viewer"><div class="wrap"><div class="document">
        {% for bit in text.bits -%}
        {% set index = bit._id and loop.index or 'new' %}
        {% set selected=active._id == bit._id and ' active' or '' %}
        <div id="bit-{{ index }}" name="{{ bit._id or 'new'}}" class="bit{{ selected }}">
            <a href="#" class="info">#{{ index }}</a>
            {% if bit.body %}
            {{ bit.html }}
            {% else %}
            <div class="bit-new">Тут пусто...</div>
            {% endif %}
        </div>
        {%- endfor %}
    </div></div></div>

    <div id="editor">
        <form method="post" id="editor-form" action="{{ app.url_for(':text.bit', id=text._id or 'new') }}">
            <input id="text-url" name="text-url" type="hidden" value="{{ app.url_for(':text.edit', id=text._id or None) }}" />
            <div class="toolbar choicer">
                <select id="bit-choicer" name="bit">
                    {% for bit in text.bits -%}
                    {% set index=bit._id and loop.index or 'new' %}
                    {% set selected=active._id == bit._id and ' selected="selected"' or '' %}
                    <option value="{{ bit._id or 'new' }}"{{ selected }}>#{{ index }}</option>
                    {% endfor %}
                </select>
                {% set other_bits=text.bits_exlude(active)[:-1] %}
                {% if other_bits %}
                <select id="bit-insert" name="insert">
                    <option value="">-----</option>
                    <option value="before">перед</option>
                    <option value="after">после</option>
                </select>
                <select id="bit-parent" name="parent">
                {% for bit in other_bits %}
                    {% set index=text['bits'].index(bit) + 1 %}
                    {% set selected=active._id == bit._id and ' selected="selected"' or '' %}
                    <option value="{{ bit._id or 'new' }}"{{ selected }}>#{{ index }}</option>
                {% endfor %}
                </select>
                {% endif %}
            </div>
            <div id="text-body-orig">{{ active.body|e }}</div>
            <div class="textarea">
                <textarea name="body">{{ active.body|e }}</textarea>
            </div>
            <div class="toolbar actions">
                <span class="note-bit-changed">Не сохранен</span>
                <span class="note-tab-override" title="Для переключения режима табуляции - нажмите Ctrl+M">[Tab] (Ctrl+M)</span>
                {% set types=(('global', 'глобальный'), ('hidden', 'скрытый')) %}
                <select id="bit-type" name="type">
                    <option value="">обычный</option>
                    {% for type in types %}
                    <option value="{{ type.0 }}"{% if active.type == type.0 %} selected="selected"{% endif %}>{{ type.1 }}</option>
                    {% endfor %}
                </select>
                <button id="action-apply" type="submit" name="action" value="apply">Готово</button>
                <button id="action-reset" type="submit" value="reset">Сброс</button>
                {% if other_bits %}<button id="action-delete" type="submit" name="action" value="delete">Удалить</button>{% endif %}
            </div>
        </form>
    </div>
</div></div>
{% endblock %}
