{% macro main(text, node, active=None, app) -%}
<div id="toolbar">
    {% if text._id %}<a href="#{{ app.url_for(':text.delete', id=text._id) }}" class="delete">удалить</a>{% endif %}
    {% if text._id and app.is_admin() %}<a href="#" class="options">опции</a>{% endif %}
    <a href="#" class="preview">смотреть</a>
    <a href="#" class="edit">редактировать</a>
</div>
{% if text._id and app.is_admin() %}
<div id="options">
    {% with content=text, node=node %}{% include 'node/edit.html' %}{% endwith %}
</div>
{% endif %}
<div id="preview"></div>
<div id="viewer"><div class="wrap">
    {% for bit in text.bits -%}
    {% set index = bit._id and loop.index or 'new' %}
    <div id="bit-{{ index }}" name="{{ bit._id or 'new'}}" class="bit">
        <a href="#" class="info">#{{ index }}</a>
        {% if bit.body %}{{ bit.html }}{% else %}<div class="b-notice">Тут пусто...</div>{% endif %}
    </div>
    {%- endfor %}
</div></div>
<div id="editor">
    <form method="post" id="editor-form" action="{{ app.url_for(':text.bit', id=text._id or 'new') }}">
        <input id="text-url" name="text-url" type="hidden" value="{{ app.url_for(':text.edit', id=text._id or None) }}" />
        <div class="toolbar choicer">
            <select id="bit-choicer" name="bit">
                {% for bit in text.bits -%}
                {% set index = bit._id and loop.index or 'new' %}
                <option{% if active._id == bit._id %} selected="selected"{% endif %} value="{{ bit._id or 'new' }}">#{{ index }}</option>
                {% endfor %}
            </select>
            <select id="bit-insert" name="insert">
                <option value="">-----</option>
                <option value="before">перед</option>
                <option value="after">после</option>
            </select>
            <select id="bit-parent" name="parent"></select>
        </div>
        <div class="textarea">
            <textarea name="body">{{ active.body }}</textarea>
        </div>
        <div class="toolbar actions">
            <button id="action-apply" type="submit" name="action" value="apply">Готово</button>
            <button id="action-reset" type="submit" value="reset">Сброс</button>
            <button id="action-delete" type="submit" name="action" value="delete">Удалить</button>
        </div>
    </form>
</div>
{%- endmacro %}
