{% from '_styles/helpers.css' import border_radius %}

#text-edit {
    position: absolute;
    top: 45px;
    bottom: 5px;
    left: 10px;
    right: 10px;
    min-height: 350px;
}
#text-edit .wrap {
    position: relative;
    width: 100%;
    height: 100%
}
#toolbar {
    position: relative;
    border-bottom: 2px solid #ccc;
    padding-top: 5px;
    line-height: 1.2;
    height: 16px;
}
#toolbar .actions {
    position: absolute;
    right: 0;
    bottom: -1px;
}
#toolbar .actions a {
    background: #eee;
    font-weight: bold;
    padding: 0 5px;
    border: 1px solid #ccc;
    line-height: 16px;
    {{ border_radius('10px 10px 0 0') }}
}
#toolbar .actions a.active {
    background: #fcc;
}
#toolbar .actions a.edit {
    display: none;
}
#options {
    display: none;
    position: absolute;
    top: 27px;
    right: 0;
    left: 0;
    z-index: 10;
    padding: 10px;
    border-bottom: 2px solid #ccc;
    font-size: 0.7em;
    background: #fff;
}
#viewer {
    position: absolute;
    top: 27px;
    bottom: 35.5%;
    width: 100%;
}
#viewer .wrap {
    overflow: auto;
}
#viewer .src {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: auto;
}
#viewer .bit {
    border-top: 1px solid #cfc;
    background: #fff;
    min-height: 1.3em;
    padding-top: 10px;
    margin-bottom: 1em;
}
#viewer .bit .info {
    display: inline-block;
    float: right;
    background: #cfc;
    font-size: small;
    margin: -10px 1px 5px 5px;
    padding: 0 2px 5px 5px;
    {{ border_radius('0 0 0 25px') }}
}
#viewer .bit > :last-child {
    margin-bottom: 0;
}
#viewer .bit.active {
    border-top: 1px solid #fcc;
    background: #fff;
}
#viewer .bit.active .info {
    background: #fcc;
}
#viewer .bit-hide, #viewer .system-message {
    margin-left: 10px;
    margin-right: 10px;
}
#viewer .bit-hide {
    border: 1px dotted #ccc;
    background: #fff3f3;
    padding: 10px;
    margin-bottom: 1em;
}
#viewer .bit-hide > :last-child {
    margin-bottom: 0;
}
#viewer .bit-new {
    padding: 20px 0;
    text-align: center;
    color: #faa;
    font-weight: bold;
}
#editor {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35%;
}
#editor form {
    position: relative;
    height: 100%;
    width: 100%;
}
#editor .toolbar {
    background: #eee;
    border-bottom: none;
    border-top: 2px solid #ccc;
    padding-top: 2px;
    height: 26px;
}
#editor .toolbar select > :first-child {
    font-style: italic;
}
#editor .toolbar.choicer {
    padding-left: 5px;
}
#editor .toolbar.actions {
    position: absolute;
    top: 0;
    right: 5px;
}
#editor .note-bit-changed, #editor .note-tab-override {
    font-size: smaller;
    font-weight: bold;
    color: #fff;
    background: #faa;
    padding: 1px;
    {{ border_radius('3px') }}
}
#editor .note-bit-changed {
    display: none;
}
#editor.changed .note-bit-changed {
    display: inline;
}
#editor .note-tab-override {
    background: #ccc;
}
#editor.tab-override .note-tab-override {
    background: #faa;
}
#editor #bit-parent {
    display: none;
}
#editor .textarea {
    position: absolute;
    top: 30px;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    border: 1px solid #999;
    padding: 2px;
}
#editor .textarea.active {
    border-color: #7af;
}
#editor .textarea textarea {
    height: 100%;
    width: 100%;
    font: 12px 'DejaVu Sans Mono', monospace;

    border: none;
    padding: 0;
    outline: none;
    resize: none;
}
#editor #bit-orig {
    display: none;
}
