{% extends "layout.html" %}
{% block title %}Texts{% endblock %}

{% block extrahead %}
{{ h.css('text/list.less', less=True) }}

{{ h.jquery() }}
<script>
    $(document).ready(function() {
        $('#text-list li.item').live({
            'mouseenter': function() {
                $(this).addClass('active');
            },
            'mouseleave': function() {
                $(this).removeClass('active');
            },
        });
        $('#text-list a.delete').live('click', function(){
            if (confirm('Точно хотите удалить ?')) {
                return true;
            }
            return false;
        });
    });
</script>
{% endblock %}

{%- block content %}
<div id="text-list">
    <ul class="toolbar">
        <li><a href="{{ app.url_for(':text.edit') }}">Новый текст</a></li>
        {% if app.is_admin() %}
        <li><a href="{{ app.url_for(':text.roll', all=not all) }}">{{ all and 'Мои' or 'Все' }} тексты</a></li>
        {% endif %}
    </ul>
    <ul class="items">
    {% for text in texts %}
        {% set title=text.node and text.node.title or text.bits and text.html|striptags|truncate(50) or text._id %}
        <li class="item {{ loop.cycle('odd', 'even') }}">
            <a class="title" href="{{ text.url_main }}">{{ title }}</a>
            <ul class="actions">
                {% if all  and text.owner %}<li title="Владелец">{{ text.owner.name }}</li>{% endif %}
                {# if text.node %}<li><a title="Есть человеческий урл" href="{{ text.node.url_show }}">узел</a></li>{% endif #}
                <li><a href="{{ text.url_copy }}" title="Копировать">клон</a></li>
                {% if text.is_allow() %}
                <li><a href="{{ text.url_edit }}" title="Изменить">изменить</a></li>
                <li><a class="delete" href="{{ text.url_delete }}" title="Удалить">удалить</a></li>
                {% endif %}
            </ul>
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
