{% include '_styles/common.less' %}

#text-list {
    ul.toolbar {
        .toolbar;
    }

    ul.items {
        width: 100%;
        margin-top: 1px;

        li.item {
            position: relative;
            padding: 0 5px;
            .border_radius(5px);

            a.title {
                font-size: large;
                font-weight: bold;
                padding: 3px;
                min-width: 60%;
                .inline_block;
            }
            ul.actions {
                position: absolute;
                top: 0;
                right: 5px;
                padding: 5px 0;
                text-transform: lowercase;
                .inline_block;

                li {
                    padding: 2px 5px;
                    font-size: smaller;
                    font-weight: bold;
                    background: #eee;
                    border: 1px solid @color-flat;
                    text-align: center;
                    min-width: 40px;
                    max-width: 80px;
                    overflow: hidden;
                    .border_radius(5px);
                    .inline_block;
                    a {
                        display: block;
                    }
                }
            }
        }
        li.item.even {
            background: #f6f6f6;
        }
        li.item.active {
            background: #fee;
            ul.actions {
                li {
                    background: #fcc;
                }
            }
        }
    }
}
