{% extends "layout.html" %}
{% block title %}Texts{% endblock %}

{% block extrahead %}
{{ h.css('text/list.less', less=True) }}

{{ h.jquery() }}
<script>
    $(document).ready(function() {
        $('#text-list li.item').live({
            'mouseenter': function() {
                $(this).addClass('active');
            },
            'mouseleave': function() {
                $(this).removeClass('active');
            },
            'click': function() {
                window.location = $(this).find('strong a').attr('href');
            }
        });
        $('#text-list a.delete').live('click', function(){
            if (confirm('Точно хотите удалить ?')) {
                return true;
            }
            return false;
        });
    });
</script>
{% endblock %}

{%- block content %}
<div id="text-list">
    <ul class="toolbar">
        <li><a href="{{ app.url_for(':text.edit') }}">Новый текст</a></li>
        {% if app.is_admin() %}
        <li><a href="{{ app.url_for(':text.roll', all=not all) }}">{{ all and 'Мои' or 'Все' }} тексты</a></li>
        {% endif %}
    </ul>
    <ul class="items">
    {% for text in texts %}
        {% set title=text.node and text.node.title or text.bits and text.html|striptags|truncate(60) or text._id %}
        <li class="item {{ loop.cycle('odd', 'even') }}" title="Смотреть">
            <strong>{% if text.node %}Node: {% endif %} <a href="{{ text.url_show }}">{{ title }}</a></strong>
            {% if text.is_allow() %}
            <ul class="actions">
                {% if all %}<li>{{ text.owner and text.owner.name or 'none' }}</li>{% endif %}
                <li><a href="{{ text.url_edit }}" title="Изменить">изменить</a></li>
                <li><a class="delete" href="{{ text.url_delete }}" title="Удалить">удалить</a></li>
            </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}
