#text-show h1 {
    margin: 0;
    border-bottom: 2px solid #ccc;
}
#text-show-body .src {
    height: 500px;
}
#text-show-body .src textarea {
    width: 100%;
    height: 100%;
    font: 12px 'DejaVu Sans Mono', monospace;

    border: none;
    padding: 0;
    outline: none;
    resize: none;
}
