.b-wrap {
    height: 600px;
}
.b-viewer {
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    max-height: 446px;
    overflow: auto;
}
.b-viewer .bit {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #cfc;
    background: #fff;
    min-height: 30px;
}
.b-viewer .bit.active {
    border: 1px solid #fcc;
    background: #fff;
}
.b-viewer .info {
    float: right;
    border: 1px solid #cfc;
    background: #cfc;
    margin: -5px -5px 5px 5px;
    padding: 0 2px 5px 5px;
    -moz-border-radius: 0 0 0 25px;
}
.b-editor {
    height: 150px;
    background: #eee;
}
.b-editor .toolbar {
    height: 30px;
    line-height: 1.8em;
}
.b-editor .textarea {
    height: 120px;
    text-align: center;
}
.b-editor .actions {
    float: right;
    margin-right: 5px;
}
.b-editor textarea {
    height: 99.4%;
    width: 99.4%;
}

