.b-wrap {
}
.b-viewer {
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding: 2px 0;
}
.b-viewer .wrap {
    max-height: 296px;
    overflow: auto;
}
.b-viewer .bit {
    margin: 0 0 10px 0;
    padding: 5px;
    border-top: 1px solid #cfc;
    background: #fff;
    min-height: 30px;
}
.b-viewer .bit .info {
    display: inline-block;
    float: right;
    background: #cfc;
    font-size: small;
    margin: -5px -4px 5px 5px;
    padding: 0 2px 5px 5px;
    -moz-border-radius: 0 0 0 25px;
}
.b-viewer .bit.active {
    border-top: 1px solid #fcc;
    background: #fff;
}
.b-viewer .bit.active .info {
    background: #fcc;
}
.b-editor {
    height: 150px;
    background: #eee;
    position: relative;
}
.b-editor .toolbar {
    height: 30px;
    line-height: 1.8em;
}
.b-editor .toolbar.choicer {
    margin-left: 5px;
}
.b-editor .toolbar.actions {
    position: absolute;
    top: 0;
    right: 5px;
}
#bit-parent {
    display: none;
}
.b-editor .textarea {
    height: 120px;
    text-align: center;
}
.b-editor textarea {
    height: 99.4%;
    width: 99.4%;
}

