.border_radius (@radius: 5px) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

@color-alfa: #008000;
@color-beta: #f63;

@color-flat: #ccc;

@font-main: Verdana, "DejaVu Sans", Geneva, sans-serif;
@font-mono: "DejaVu Sans Mono", monospace;
