@color-alfa: #008000;
@color-beta: #f63;

@color-flat: #ccc;

@font-main: Verdana, "DejaVu Sans", Geneva, sans-serif;
@font-mono: Consolas, "DejaVu Sans Mono", monospace;

// Mixins
.border_radius (@radius: 5px) {
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
  border-radius: @radius;
}

.inline_block {
  display: inline-block;
  vertical-align: top;
  // IE 6/7
  *zoom: 1;
  *display: inline;
}

.typography {
    {% include '_styles/text.less' %}
    {% include '_styles/syntax.css' %}
}

.last-child {
    > :last-child {
        margin-bottom: 0;
    }
}

.toolbar {
    position: relative;
    border-bottom: 2px solid #ccc;

    li {
        .inline_block;
        margin-bottom: -2px;

        a {
            background: #eee;
            font-weight: bold;
            padding: 0 5px;
            border: 1px solid #ccc;
            .border_radius(10px 10px 0 0);
            .inline_block;

            :active {
                background: #fcc;
            }
        }
    }
}
