{% from '_styles/_helpers.css' import border_radius %}

/* Header */
#header {
    background: #f63;
    height: 40px;
    position: relative;
    {{ border_radius('0 0 15px 15px') }}
}
#header img {
    border: none;
}
#header h1 {
    position: absolute;
    left: 220px;
    top: 20px;
    font-size: 1.5em;
    color: #eff;
}
#header .logo-wrap {
    background-color: #008000;
    display: inline-block;
    padding-left: 20px;
    height: 40px;
    {{ border_radius('0 0 0 15px') }}
}
#header .logo {
    display: inline-block;
    height: 46px;
    width: 198px;
    background: #fff url("../_images/logo-hands.png") no-repeat right center;
}
#header .header-adds {
    position: relative;
    float: right;
    white-space: nowrap;
    margin: -4px 10px 0 0;
    line-height: 1.2em;
}
#header .info {
    display: inline-block;
    background-color: #008000;
    font-size: small;
    color: #fff;
    padding-left: 10px;
    {{ border_radius('0 0 10px 10px') }}
}
#header .info a {
    display: inline-block;
    font-weight: bold;
    background: #fff;
    padding: 0 10px;
    {{ border_radius('0 0 10px 10px') }}
}
#header .source {
    display: inline-block;
    background-color: #fff;
    font-weight: bold;
    font-size: small;
    color: #fff;
    padding: 0 10px;
    margin-right: 5px;
    {{ border_radius('0 0 10px 10px') }}
}
#header a.login {
    color: #f63;
}

/* Content */
#content {
    padding: 0 10px;
    margin-top: 10px;
}

/* Blocks */
.b-confirm, .b-notice {
    padding: 20px 0;
    text-align: center;
}
.b-notice {
    color: #faa;
    font-weight: bold;
}

/* Misc */
.loading {
    display: none;
    position: absolute;
    z-index: 999;
    opacity: 0.7;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #fefefe url(../_images/loading.gif) no-repeat center;
}
.highlighttable {
    border: none;
}
.highlighttable td, .highlighttable th {
    border: none;
    margin: 0;
    padding: 0;
}
.highlighttable .linenodiv {
    color: #aaa;
    border-right: 1px solid #ccc;
}
